* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.main {
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    width: 30rem;
    height: auto;
    background: #ffff;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;

}

.col {
    text-align: justify;
    padding: 0.5rem;
    width: 95%;
}

#submit {
    width: 100%;
    background-color: aqua;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 0 0 #64dd1d;
}

#submit:hover {
    border: 2px solid yellow;
}

.container:hover {
    border: 2px solid blue;
}